.slSlider{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
}
.slSlider ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slSlider ul li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    
}
.slSlider ul li:first-child {
    display:list-item;
}

.slSlider ul li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slSlider .counter{
    position: absolute;
    top:20px;
    left:0;
    font-size: 9px;
    font-family: tahoma;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    padding: 3px 5px;
    border-radius: 0 0 5px 0;
    z-index: 9999;
}

.slSlider .next,.slSlider .prev{
    position: absolute;
    top:50px;
    z-index: 9999;
    opacity: 0.3;
    border-radius: 20px;
    height: 24px;
    width: 24px;
    display: inline-block;
    text-align: center;
}
.slSlider .next:hover,.slSlider .prev:hover {
    cursor: pointer;
    opacity: 0.9;
}

.slSlider .next {
    right:5px;
    background: #fff url("images/arrow-right.png");
}
.slSlider .prev {
    left:5px;
    background: #fff url("images/arrow-left.png");
}

.slSlider .buttonsRow{
    z-index: 9999;
    position: absolute;
    left:10px;
    bottom: 10px;
}
.slSlider .buttonsRow span {
    float: left;
    width: 12px;
    height: 12px;
    font-size: 9px;
    font-family: tahoma;
    color: #777;
    background-color: #fff;
    opacity: 0.5;
    margin-right: 3px;
    padding: 1px;
    border-radius: 7px;
    text-align: center;
}
.slSlider .buttonsRow span:hover,.slSlider .buttonsRow span.curr {
    opacity: 0.9;
    cursor: pointer;
    color: #555;
}

.slSlider .sliderCaption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    color:#fff;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 42px;
    z-index: 9999;
    font-size: 20px;
    font-family: "B Yekan";
    text-align: right;
    direction: rtl;
    line-height: 40px;
    padding-right: 10px;
    box-sizing: border-box;
}