.pcTabs{
    direction: rtl;
    text-align: right;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

a.pcTabLink{
    text-decoration: none;
    color: #333;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 3px 3px 0 0;
    margin-left: 1px;
    float: right;
}
a.pcTabLink:hover{
    background-color: #f9f9f9;
}
a.pcTabLink.currentTab{
    background-color: #f9f9f9;
}

div.pcTabContent{
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 200px;
    line-height: 150%;
    display: none;
    clear: both;
}

div.pcTabContent.default{
    display: block;
}

