*{
    padding: 0;
    margin: 0;
    border: 0;
}
#main{
    width: 90%;
    max-width: 800px;
    margin: 10px auto;
}
#display{
    font-size: 50px;
    text-align: right;
    color: white;
    background-color: #444
}
#btn span{
    width: 24%;
    height: 50px;
    float: left;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    border: 1px solid;
    background-color: #ccc;
    cursor: pointer;
}
#btn span:hover{
    background-color: #68a;
}
#btn .btn_number{
    background-color: #ea8;
}
