.accMenu{
    text-align: right;
    direction: rtl;
}
.accItem .accTitle{
    margin: 0px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(209, 209, 209, 0.92);
    color: black;
    border: 1px solid black;
    font-family: "B Koodak";
    text-align: right;
}
.accItem .accTitle:hover{
    cursor: pointer;
    background-color: rgba(243, 243, 243, 0.92);
}
.accItem .accContent{
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: rgba(209, 209, 209, 0.92);
    color: black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-family: "B Koodak";
    text-align: right;
    display: none;
}