.tooltip{
    text-decoration: none;
    cursor: pointer;
}
.tooltipBox{
    background-color: #e3f5de;
    border:1px solid #abd49f;
    color: #164616;
    margin: 0;
    padding: 5px 7px;
    width: 200px;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    position: fixed;
    display: none;
}
.tooltipBox:after{
    content: " ";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid  #abd49f;
    position: absolute;
    bottom: -7px;
    left: 50%;
}