*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightcyan;
}
#slider{
    margin: 10px auto;
    width: 80%;
    overflow: hidden;
    position: relative;
}
div.slide img{
    width: 100%;
}
.slide{
    display: none ;
}
.slide.active{
    display: block;
}
div.text{
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 80px;
}
.prev{
    left: 5px;
}
.next{
    left: 1030px;
}
#dots{
    text-align: center;
}
.dot{
    background: white;
    border-radius: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
}
.dot.active{
    background-color: teal;
}
